*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
body {
  font-family: "Helvetica";
  font-size: 1rem;
}
form {
  width: 50%;
  margin: auto;
  h1 {
    text-align: center;
  }
  div {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  label {
    font-weight: 600;
    margin-bottom: 4px;
  }
  input,
  textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
  }
  button {
    margin-top: 1rem;
    width: 100%;
    padding: 0.6rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    font-weight: 800;
    background-color: rgb(71, 71, 209);
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(60, 60, 209);
  }

  .alert{
    color: rgb(241, 59, 59);
    margin-block: 4px;
    font-size: small;
  }
}
